@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

:root {
  --text: rgb(0, 49, 60);
  --background: rgba(240, 240, 240, 0.6);
}

body {
  font-family: 'Poppins', system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem 5vw;
  background-image: url('./images/sky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text);
}

h2 {
  text-transform: lowercase;
  font-size: 2.8rem;
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: var(--background);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

main > div {
  margin: 1rem 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 3rem 0;
  line-height: 1.1;
  border-radius: 5px;
  background-color: var(--background);
}

.high-low {
  display: flex;
  gap: 1rem;
}

.high-low > p {
  display: flex;
  gap: 0.5rem;
}

.hourly {
  overflow-x: auto;
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: var(--background);
}

.hourly > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  min-width: max-content;
  white-space: nowrap;
}

.icon {
  height: 1.5rem;
}

.more-info {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
  gap: 0.5rem;
}

.more-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--background);
}

.more-info h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.8rem;
}

h1 {
  font-size: 5rem;
}

input[type="text"] {
  background-color: transparent;
  outline: none;
  padding: 0.5rem;
  font-family: inherit;
  border-bottom: 2px solid var(--text);
  border-top: none;
  border-right: none;
  border-left: none;
}

input[type="submit"] {
  background-image: url('./images/magnify.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  filter: brightness(200%); /* not great -- change color!! maybe to a yellow*/
}